###############################################################################
## Option Settings
##    Namespace: "aws:elasticbeanstalk:application:environment"
##    OptionName: DjangoApplicationCWLogGroup
##       Default:   <EnvironmentName>-{{cookiecutter.project_name}}-log
##    Description: This is the name of the cloudwatch log group for web requests (access log)
##
## To get an SNS alert, add a subscription to the Elastic Beanstalk Notification
##   topic.  (e.g. set your Notification Endpoint to your email address)
##
##
##  Note - this demo works with apache containers that are using the default common log format
##      (python and php ruby containers do this - tomcat does not)
###############################################################################


# Apache access log pattern:
## "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
## levelname  asctime  name  message
Mappings:
  DjangoCWLogs:
    DjangoApplicationCWLogGroup:
      LogFile: "/opt/python/log/{{cookiecutter.project_name}}.log"
      TimestampFormat: "%Y-%m-%d %H:%M:%S"

Outputs:
  WebRequestCWLogGroup:
    Description: "The name of the Cloudwatch Logs Log Group created for this environments web server access logs. You can specify this by setting the value for the environment variable: WebRequestCWLogGroup. Please note: if you update this value, then you will need to go and clear out the old cloudwatch logs group and delete it through Cloudwatch Logs."
    Value: { "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0DjangoApplicationCWLogGroup"}


Resources :
  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0DjangoApplicationCWLogGroup:    ## Must have prefix:  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0
    Type: "AWS::Logs::LogGroup"
    DependsOn: AWSEBBeanstalkMetadata
    DeletionPolicy: Retain     ## this is required
    Properties:
      LogGroupName:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: DjangoApplicationCWLogGroup
          DefaultValue: {"Fn::Join":["-", [{ "Ref":"AWSEBEnvironmentName" }, "{{cookiecutter.project_name}}-log"]]}
      RetentionInDays: 14


  ## Register the files/log groups for monitoring
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            ## any .conf file put into /tmp/cwlogs/conf.d will be added to the cwlogs config (see cwl-agent.config)
            "/tmp/cwlogs/conf.d/{{cookiecutter.project_name}}-log.conf":
              content : |
                [{{cookiecutter.project_name}}_log]
                file = `{"Fn::FindInMap":["DjangoCWLogs", "DjangoApplicationCWLogGroup", "LogFile"]}`
                log_group_name = `{ "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0DjangoApplicationCWLogGroup" }`
                log_stream_name = {instance_id}
                datetime_format = `{"Fn::FindInMap":["DjangoCWLogs", "DjangoApplicationCWLogGroup", "TimestampFormat"]}`
              mode  : "000400"
              owner : root
              group : root
