commands:
  01_change_permissions:
    command: chmod g+s /opt/python/log
  02_change_owner:
    command: chown root:wsgi /opt/python/log
  03_set_default_log_dir_permission:
    command: setfacl -d -m g::rw /opt/python/log
  {% if cookiecutter.use_cloudwatch_logs == "y" %}
  04_restart_cloud_watch_agent:
    command: sudo service awslogs restart
  {% endif %}
